@import '../../index.scss';


.mainContainter{
    height: 100vh;
}
.bodyContainer{
    height: 100%;
}
.sideBar{

    overflow-wrap: break-word;
    padding-top: 10px;
    color: white;
    text-align: left;
    min-height: calc(100vh - 64px);
    height: auto;
    background-color: $secondary;

    #userIcon{
        width:100%;
        max-width: 128px;
    }
    
    .userInfo{
        padding: 10px;
        text-align: left;
        line-height: 30px;
       p{
        text-align: left;
        background-color: green;
       }
    }
}


@media (max-width: 600px) {
    
.sideBar{
    text-align:center;
    min-height: 0;
    height: auto;

    .userInfo{
        text-align: center;
    }
 }   
}
@media (min-width: 600px) and (max-width:900px){
    
    .sideBar{
        text-align:center;
        height:auto;
        
        .userInfo{
            text-align: center;
            margin-top: -32vh;
        }
     }   
}